{% extends  'index.html' %}

    
    {% block form %}
    <body>
      <div class="contianer" style="max-width: 400px; margin: auto;">
       <h1>createuser</h1>
       <form style="width: 500px;" method="POST"  action="{{ url_for('adduser') }}">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Name</label>
          <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Age</label>
          <input type="number" name="age" class="form-control" id="">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Location</label>
            <input type="location" name="location" class="form-control" id="">
          </div>
        <button type="submit" class="btn btn-primary">Save User</button>
      </form>     
        </div>
   
    </body>
    {% endblock %}
    